ul{
    display: flex;
    justify-content:flex-end;
}

.nav-links {
    padding: auto;
    margin: 20px;
}

.nav-links li {
    display: inline-block;
    margin: 10px;
    font-weight: bold;
}

.nav-links li a {
    text-decoration: none;
    color: black;
}

#hero-container {
display: flex;
justify-content: space-between;
justify-content: center;
}

button{
    background-color: red;
    color: white;
    border:none;
    padding: 10px;
}

#profile {
    width: 243px;
    height: 243px;
    border-radius: 50%;
}

section {
    padding: 0 146px 0 146px;
}

#description {
   margin-right:0 115px  0 115px;
   margin-bottom: 71px;
}

#parent-container {
    display: flex;
    justify-content: space-evenly;
}

#posts {
    margin-right: 20px;
 background-color: beige;
 padding: 25px;
 border-radius: 4px;
}

#view {
    
    background-color: beige;
    padding: 25px;
    border-radius: 4px;
}

#post-heading {
    display: flex;
    justify-content: space-between;
}

#views {
    list-style-type: none;
}

#design-dashboard-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 246px;
    height: 180px;
    border-radius: 6px;
    margin-left: 35px;
    margin-top: 25px;
}

#year-name {
    display: flex;   
         align-items: center;
}

#year {
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

#design-dashboard-text {
    gap: 200px;
margin-left: 40px;
}

#line {
    border-bottom: 1px solid grey;
}

#text {
    display: flex;
}
    
#texts {
    color: grey;
    margin-left: 20px;
}

#illustration-box {
    display: flex;
    width: 80%;
    margin: auto;
}

#illustration-box-text {
    gap: 200px;
margin-left: 50px;
}

.pic {
    width: 246px;
    height: 180px;
    border-radius: 6px;
margin-left: -100px;
    margin-top: 20px;
margin-bottom: 0px;
}

#writing {
    display: flex;   
    align-items: baseline;
}

#old-year {
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

#written {
    color: grey;
    margin-left: 20px;
}


#typograph-box {
    display: flex;
    width: 80%;
    margin: auto;
}

.photo {
    width: 246px;
    height: 180px;
    border-radius: 6px;
    margin-left: -100px;
    margin-top: 20px;
}

#typograph-box-text {
gap: 200px;
margin-left: 50px;
}

#days {
    display: flex;   
    align-items: baseline; 
}

#years-same {
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

#wroten {
    color: grey;
    margin-left: 20px;
}

#main-pic {
    display: flex;
    justify-content: center;
    gap: 35px ;
}

#photo {
    width: 30px;
    margin-top: 55px;
  
}

#copyright {
   display: flex;
   margin-left: 720px;
   font-size: small;
}

#image-picture {
    margin-top: 83px;
}

#recentpostsection {
    background-color:#EDF7FA ;
}