ul{
    display: flex;
    justify-content:flex-end;
}

.nav-links {
    padding: auto;
    margin: 20px;
}

.nav-links li {
    display: inline-block;
    margin: 10px;
    font-weight: bold;
}

.nav-links li a {
    text-decoration: none;
    color: black;
}

#hero-container {
display: flex;
justify-content: space-between;
justify-content: center;
}

button{
    background-color: red;
    color: white;
    border:none;
    padding: 10px;
}

#profile {
    width: 243px;
    height: 243px;
    border-radius: 50%;
}

section {
    padding: 146px;
}

#description {
   margin-right:0 115px  0 115px;
   margin-bottom: 71px;
}

h1 {
    margin-bottom: 40px;
}

#lorem {
    margin-bottom: 40px;
}

#parent-container {
    display: flex;
    justify-content: space-evenly;
}

#posts {
    margin-right: 20px;
 background-color: beige;
 padding: 25px;
 border-radius: 4px;
}

#view {
    
    background-color: beige;
    padding: 25px;
    border-radius: 4px;
}

#post-heading {
    display: flex;
    justify-content: space-between;
}

#views {
    list-style-type: none;
}

#design-dashboard-box {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: auto;
}

.image {
    width: 246px;
    height: 100%;
    border-radius: 6px;
    margin: auto;
}

#year-name {
    display: flex;   
         gap:20px ;
         align-items: baseline;
}

#year {
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

#dasign-dashboard-text {
margin-left: 20px;
}

#text {
    display: flex;
    gap: 5px;
}
    
#design-dashboard-image {
    width: 50%;
}

#feature {
    padding-left: 140px;
    margin-top: 60px;
}

#texts {
    color: grey;
}

#illustration-box {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: auto;
}

#illustration-box-text {
    margin-top: 30px;
    margin-left: -120px;
}

.pic {
    width: 246px;
    height: 100%;
    border-radius: 6px;
    margin-right:160px;
    margin-top: 20px;
}

#writing {
    display: flex;   
    gap:30px ;
    align-items: baseline;
}

#old-year {
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

#written {
    color: grey;
}


#typograph-box {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: auto;
}

.photo {
    width: 246px;
    height: 100%;
    border-radius: 6px;
    margin-right:160px;
    margin-top: 40px;   
}

#typograph-box-text {
margin-top: 30px;
margin-left: -120px;
}

#days {
    display: flex;   
    gap:30px ;
    align-items: baseline; 
}

#years-same {
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

#wroten {
    color: grey;
}

#main-pic {
    display: flex;
    justify-content: center;
    gap: 80px;
}

#photo {
    width: 100px;
    margin-top: 55px;
  
}

#copyright {
   display: flex;
   margin-left: 600px;
}
